# Useful Links:
 - [Official Kaggle API documentation:](https://www.kaggle.com/docs/api)
 - [6 minutes Youtube video on getting started with Kaggle API](https://www.youtube.com/watch?v=gkEbaMgvLs8)

In [1]:
## install kaggle API module
#pip install kaggle

##update kaggle API module - needed if you already have an old version of the API
##!pip install -Uqqq --upgrade --force-reinstall --no-deps kaggle

## Patool is used here to unzip the data folder downloaded 
#!pip install patool

In [2]:
# kaggle API to download and upload data from Kaggle
import kaggle

# Library used to unzip folders
import patoolib

import pandas as pd

In [3]:
# Download zipped data to a specific folder
!kaggle competitions download -c playground-series-s4e4 -p data

Downloading playground-series-s4e4.zip to data

  0%|          | 0.00/2.41M [00:00<?, ?B/s]
 41%|####1     | 1.00M/2.41M [00:01<00:01, 799kB/s]
 83%|########2 | 2.00M/2.41M [00:02<00:00, 922kB/s]
100%|##########| 2.41M/2.41M [00:02<00:00, 956kB/s]
100%|##########| 2.41M/2.41M [00:02<00:00, 926kB/s]

In [4]:
# Unzip files
patoolib.extract_archive("data/playground-series-s4e4.zip",outdir="data/playground-series-s4e4")

INFO patool: Extracting data/playground-series-s4e4.zip ...
INFO patool: ... creating output directory `data/playground-series-s4e4'.
INFO patool: ... data/playground-series-s4e4.zip extracted to `data/playground-series-s4e4'.

'data/playground-series-s4e4'

# Check the data

In [7]:
train = pd.read_csv('data/playground-series-s4e4/train.csv')
test = pd.read_csv('data/playground-series-s4e4/test.csv')
sample_sub = pd.read_csv('data/playground-series-s4e4/sample_submission.csv')

In [8]:
train.head(3)

,id,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight,Rings
0,0,F,0.55,0.43,0.150,0.7715,0.3285,0.1465,0.240,11
1,1,F,0.63,0.49,0.145,1.1300,0.4580,0.2765,0.320,11
2,2,I,0.16,0.11,0.025,0.0210,0.0055,0.0030,0.005,6

In [9]:
test.head(3)

,id,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight
0,90615,M,0.645,0.475,0.155,1.2380,0.6185,0.3125,0.3005
1,90616,M,0.580,0.460,0.160,0.9830,0.4785,0.2195,0.2750
2,90617,M,0.560,0.420,0.140,0.8395,0.3525,0.1845,0.2405

In [10]:
sample_sub.head(3)

      id  Rings
0  90615     10
1  90616     10
2  90617     10